:root {
  --text-black: black;
  --text-blue: #18a0fb;
  --text-white: #fff;
  --bg-blue: #51baff;
  --bg-white: #fff;
  --bg-gray: rgb(241, 241, 241);
  --text-sm: 1rem;
  --text-md: 1.3;
  --text-title-1: 2.4rem;
  --text-title-2: 2rem;
  --max-width: 1288px;
  --bold-sm: 200;
  --bold-md: 400;
  --bold-lg: 600;
  --transition: all 0.3s ease-in;
  --transition-2: all 0.1s ease-in;
  --translate-1: translateY(-2px);
  --translate-2: translateY(-4px);
}
* {
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
}
body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(250px); /* Start 100px off-screen to the right */
  }
  to {
    transform: translateX(0);
  }
}
svg {
  width: 100%;
  height: 100%;
  background-color: red;
}
